<% provide(:title, 'John Shutt') %>
<div id='homepage'>
  <h1>
    John Shutt
  </h1>
  <p>
    Some guy writing and coding and doing other stuff in San Francisco. 
  </p>
  <div>
    <div class = 'contact'>
      <%= link_to "git highlighter", "https://github.com/pemulis/git-highlighter" %><br><br>
      <%= link_to "venture bros", "http://venturestudies.com" %><br><br>
      <%= link_to "openlibrary gem", "https://github.com/jayfajardo/openlibrary" %><br><br>
      <%= link_to "madswag", "https://github.com/pemulis/madswag" %><br><br>
      <%= link_to "github", "https://www.github.com/pemulis" %><br><br>
      <%= link_to "twitter", "https://www.twitter.com/jdshutt" %><br><br>
      <%= link_to "goodreads", "http://www.goodreads.com/johnshutt" %><br><br>
      <%= link_to "writing", page_path("writing") %><br><br>
      <%= link_to "resume", page_path("resume") %><br><br>
      <%= link_to "e-mail", "mailto:john.d.shutt@gmail.com" %>
    </div>
  </div>
</div>
