<% provide(:title, 'John Shutt') %>
<div id='homepage'>
	<h1>
		John Shutt
	</h1>
	<p>
    Writing code in San Francisco. If you need me, go to the backyard of Zeitgeist and shout my name.
	</p>
  <div>
    <div class = 'contact'>
      <%= link_to "github", "https://www.github.com/pemulis" %> | <%= link_to "twitter", "https://www.twitter.com/jdshutt" %> | <%= link_to "goodreads", "https://www.goodreads.com/johnshutt" %> | <%= link_to "writing", page_path("writing") %> | <%= link_to "resume", page_path("resume") %> | <%= link_to "e-mail", "mailto:john.d.shutt@gmail.com" %>
    </div>
  </div>
</div>
