<% provide(:title, 'John Shutt') %>
<div id='homepage'>
  <h1>John Shutt's World Wide Web Page on the Internet</h1>
  <div align='center'>
    <%= image_tag 'welcome.gif' %>
  </div>
  <div class = 'contact'>
    <%= link_to "bayleaks", "http://bayleaks.com/" %> &middot;
    <%= link_to "westward leaning", "http://westwardleaning.com" %> &middot; 
    <%= link_to "noisebridge digital archivists", "https://noisebridge.net/wiki/Digital_Archivists" %>
  </div>
  <div class = 'contact'>
    <%= link_to "adventure time", "http://adventuretimeforum.com" %> &middot;
    <%= link_to "venture bros", "http://venturestudies.com" %> &middot;
    <%= link_to "openlibrary", "https://github.com/jayfajardo/openlibrary" %> &middot;
    <%= link_to "localbitcoins", "https://github.com/pemulis/localbitcoins" %>
  </div>
  <div class='contact'>
    <%= link_to "github", "https://www.github.com/pemulis" %> &middot;
    <%= link_to "twitter", "https://www.twitter.com/jdshutt" %> &middot;
    <%= link_to "resume", page_path("resume") %> &middot;
    <%= link_to "writing", page_path("writing") %> &middot;
    <%= link_to "e-mail", "mailto:jds@riseup.net" %>
  </div>
</div>
