<% provide(:title, 'John Shutt') %>
<div id='homepage'>
  <h1>John Shutt's World Wide Web Page on the Internet</h1>
  <div align='center'>
    <%= image_tag 'sheep.gif' %>
  </div>
  <div class = 'contact'>
    <%= link_to "book scanner", "https://noisebridge.net/wiki/Book_scanner" %> &middot;
    <%= link_to "openlibrary", "https://github.com/jayfajardo/openlibrary" %> &middot;
    <%= link_to "localbitcoins", "https://github.com/pemulis/localbitcoins" %> &middot;
    <%= link_to "venture bros", "http://venturestudies.com" %>
  </div>
  <div class = 'contact'>
    <%= link_to "westward leaning", "http://westwardleaning.com" %> &middot; 
    <%= link_to "restore the fourth", "https://twitter.com/restorethe4thsf" %>
  </div>
  <div class='contact'>
    <%= link_to "github", "https://www.github.com/pemulis" %> &middot;
    <%= link_to "twitter", "https://www.twitter.com/jdshutt" %> &middot;
    <%= link_to "goodreads", "http://www.goodreads.com/johnshutt" %> &middot;
    <%= link_to "writing", page_path("writing") %> &middot;
    <%= link_to "resume", page_path("resume") %> &middot;
    <%= link_to "pgp key", page_path("pgpkey") %> &middot;
    <%= link_to "e-mail", "mailto:john.d.shutt@gmail.com" %>
  </div>
</div>
