<% provide(:title, "Essays, Fiction, Etc.") %>
    <h1>Fiction</h1>
		<ul>
			<li><%= link_to "A Note From a Man in a Tree", page_path("writing/a-note-from") %></li>
			<li><%= link_to "A Small and Perfect Work of Art", page_path("writing/a-small-and") %></li>
			<li><%= link_to "Zay Shun", page_path("writing/zay-shun") %></li>
			<li><%= link_to "St. Mary's", page_path("writing/st-marys") %></li>
			<li><%= link_to "Goodbye, Zyxxnra", page_path("writing/goodbye-zyxxnra") %></li>
			<li><%= link_to "What Price Bananas?", page_path("writing/what-price-bananas") %></li>
			<li><%= link_to "The Contents of Harold Fredrickson's Pockets on the Day He Died", page_path("writing/the-contents-of") %></li>
			<li><%= link_to "The Zen Master", page_path("writing/the-zen-master") %></li>
			<li><%= link_to "A Brief Eulogy for Sammy Banyan", page_path("writing/a-brief-eulogy") %></li>
			<li><%= link_to "Knuckle", page_path("writing/knuckle") %></li>
		</ul>
		<div class = 'bottomlinks'>
			<%= link_to "return home", root_url %>	
		</div>
